/*.rbc-header{
  color: white;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px !important;
  background-color: #17405d;
  font-family: sans-serif;
}
.rbc-allday-cell{
  display: none;
}
.rbc-time-header-cell .rbc-today{
  background-color: #780ac2;
}
.rbc-time-slot{
  color:#17405d ;
  z-index: 1;
  padding: 0;
}

.rbc-timeslot-group{
  min-height:160px !important;
}
.rbc-event,
.rbc-backgroud-event{
  padding:  0px !important;
  border: 1px solid rgb(0, 0, 0) !important;
  min-height: 10px !important;
  max-width: 400px !important;
  /* min-width: 100%; */
 /* display: flex !important;
  font-family: sans-serif;
  font-size: 10px;
  align-items: center;
  justify-content: center;

  
}
.rbc-event-content{
  width: 100%;
  
}
.rbc-event-label{
  width: 30px !important;
  white-space: wrap;
  padding: 0 !important;
  margin: 0!important ;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  
}

.rbc-time-slot{
  color:#17405d ;
  z-index: 1;
  padding: 0;
}
.rbc-day-slot .rbc-time-slot{
  border-top: 1px solid #d1d1d1 !important;

}

.evento{
  display: flex;
  height: 100%;
  max-height: 10px !important;
  align-items: center;
  padding: 10px !important;
  /* white-space: nowrap; */
/*  text-overflow: ellipsis !important;
  background-color: blue;
}

.rbc-month-row .rbc-row-bg{
  height: 500px !important;
}*/

.rbc-timeslot-group{
  min-height: 120px !important;
  font-family: sans-serif;

}

.rbc-event-label{
  display: none !important;
}

.rbc-event{
 /* left: 0!important; */
 font-family: sans-serif;
 font-size: 12px;
 text-wrap: nowrap;
}
.rbc-time-slot{
  display: flex;
}
.rbc-events-container{
  margin: 0 !important;
}

.rbc-event,
.rbc-backgroud-event{

  padding: 0;
  margin: 0;
 
}

.evento{
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  border-radius: 4px !important;
  color: black;

}
.evento ul{
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 15px;
  list-style-type: none;
  display: flex;
  align-items: center;
 
}
.evento ul li{
  height: 14px;
  display: flex;
  align-items: center;
 

}
.pautada ul li::before {
  padding: 0;
  content: "\2022"; /* Código del punto */
  color: #FFA246 ; /* Color deseado */
  font-size: 25px;
  display: inline-block;
  width: 10px; /* Ancho del punto */
  margin-left: -12px; /* Mueve el punto hacia la izquierda para que esté alineado con el texto */
  margin-right: 4px;
}

.pautada{
  background-color: #f3dabd;
  border: 1px solid #FFA246 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.por-pautar ul li::before {
  padding: 0;
  content: "\2022"; /* Código del punto */
  color: #F8F65F ; /* Color deseado */
  font-size: 25px;
  display: inline-block;
  width: 10px; /* Ancho del punto */
  margin-left: -12px; /* Mueve el punto hacia la izquierda para que esté alineado con el texto */
  margin-right: 4px;
}

.por-pautar{
  background-color: #f3ecc5;
  border: 1px solid #F8F65F !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.realizada ul li::before {
  padding: 0;
  content: "\2022"; /* Código del punto */
  color: #5590FF ; /* Color deseado */
  font-size: 25px;
  display: inline-block;
  width: 10px; /* Ancho del punto */
  margin-left: -12px; /* Mueve el punto hacia la izquierda para que esté alineado con el texto */
  margin-right: 4px;
}

.realizada{
  background-color: #b3caf5;
  border: 1px solid #5590FF !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.inconvenitente ul li::before {
  padding: 0;
  content: "\2022"; /* Código del punto */
  color: #8de26b ; /* Color deseado */
  font-size: 25px;
  display: inline-block;
  width: 10px; /* Ancho del punto */
  margin-left: -12px; /* Mueve el punto hacia la izquierda para que esté alineado con el texto */
  margin-right: 4px;
}

.inconvenitente{
  background-color: #cae7be;
  border: 1px solid #91e96e !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sin-conferencia ul li::before {
  padding: 0;
  content: "\2022"; /* Código del punto */
  color: #8a8a8a ; /* Color deseado */
  font-size: 25px;
  display: inline-block;
  width: 10px; /* Ancho del punto */
  margin-left: -12px; /* Mueve el punto hacia la izquierda para que esté alineado con el texto */
  margin-right: 4px;
}

.sin-conferencia{
  background-color: #f5f5f5;
  border: 1px solid #B7B7B7 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.consultada-profesional ul li::before {
  padding: 0;
  content: "\2022"; /* Código del punto */
  color: #E789FF ; /* Color deseado */
  font-size: 25px;
  display: inline-block;
  width: 10px; /* Ancho del punto */
  margin-left: -12px; /* Mueve el punto hacia la izquierda para que esté alineado con el texto */
  margin-right: 4px;
}

.consultada-profesional{
  background-color: #ebd2f1;
  border: 1px solid #E789FF !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.consultada-cliente ul li::before {
  padding: 0;
  content: "\2022"; /* Código del punto */
  color: #FF4E47 ; /* Color deseado */
  font-size: 25px;
  display: inline-block;
  width: 10px; /* Ancho del punto */
  margin-left: -12px; /* Mueve el punto hacia la izquierda para que esté alineado con el texto */
  margin-right: 4px;
}

.consultada-cliente{
  background-color: #f0adaa;
  border: 1px solid #FF4E47 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.rbc-event:hover {
  background-color: #dcdcdc; /* Cambia el color de fondo en el hover */
}

.rbc-tooltip {
  background-color: #ffcc00 !important; /* Cambia este valor al color deseado */
}